<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Mirror Mirror on the Wall...</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <link href="/stylesheets/weather-icons.css" rel="stylesheet">
    <script src="https://apis.google.com/js/client.js"></script>
  </head>
  <body ng-app="dashboard" ng-controller="dashboardCtrl" ng-cloak>
      <h1>Dashboard Test</h1>
      <div id="left-column">
		  <p id="current-time">{{currentTime}}</p>
		  <p id="weather">
			  {{currentWeather.summary}} - {{currentWeather.apparentTemperature}} - Winds {{currentWeather.windSpeed}} mp/h
		  </p>
      </div>
      
      <div>
        <!--If we need to authorize yet, this view is shown-->
        <div id="calendar-authorize" ng-show="!googleAuthStatus && !isGettingInitialGoogleStatus" style="color: white;">
          <span>Authorize access to Google Calendar API</span>
          <!--Button for the user to click to initiate auth sequence -->
          <button id="authorize-button" ng-click="authorizeGoogle()">
            Authorize
          </button>
        </div>
        
        <!--Empty state-->
        <div id="calendar-empty" ng-show="todaysEvents.length === 0">
          No appointments for today
        </div>
        
        <!--Populated state-->
        <div id="calendar-populated" style="color: white;">
          <p ng-repeat="eventDescription in todaysEvents">{{eventDescription}}<p>
        </div>
      </div>
      <script src="/bower_components/angular/angular.js"></script>
      <script src="/bower_components/moment/moment.js"></script>
	  
	  <!--Actual app scripts-->
	  <script src="/scripts/dashboardCtrl.js"></script>
    <script src="/scripts/googleCalendarService.js"></script>
  </body>
</html>  