<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Mirror Mirror on the Wall...</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body>
      <h1>Dashboard Test</h1>
      
      <script src="/bower_components/angular/angular.js"></script>
  </body>
</html>  