<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Mirror Mirror on the Wall...</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body ng-app="dashboard" ng-controller="dashboardCtrl">
      <h1>Dashboard Test</h1>
      <div id="left-column">
		  <p id="current-time">{{currentTime}}</p>
		  <p id="weather">
			  {{currentWeather.summary}} - {{currentWeather.apparentTemperature}} - Winds {{currentWeather.windSpeed}} mp/h
		  </p>
      </div>
      <script src="/bower_components/angular/angular.js"></script>
      <script src="/bower_components/moment/moment.js"></script>
	  
	  <!--Actual app scripts-->
	  <script src="/scripts/dashboardCtrl.js"></script>
  </body>
</html>  